<template>
    <div class="contentWrapper">
        <div class="row" style="margin: 25px;">
            <h2>{{ address }}</h2>
        </div>
        <div class="row" style="margin: 25px;">
            <div class="col-lg-6">
                <h3>Contract Data</h3>
            </div>
            <div class="col-lg-6">
                <h3>OffChain Data</h3>
            </div>
        </div>
        <div class="row" style="margin-left: 25px; margin-right: 25px; margin-bottom: 250px;">
            <div class="col-lg-6">
                <vue-json-pretty v-if="contract"
                        :path="''"
                        :data="contract"
                        >
                </vue-json-pretty>
            </div>
            <div class="col-lg-6">
                <vue-json-pretty v-if="offchain"
                                 :path="''"
                                 :data="offchain"
                >
                </vue-json-pretty>
                <div v-if="!offchain">
                    Cant get off-chain data, <br>
                    If this is your entry check if Url is set and CORS headers are correct.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src

    /* eslint-disable */

    import defaultData from "../data/offchain_default"
    import VueJsonPretty from 'vue-json-pretty'

    export default {
        name: 'address',
        methods: {
            getNumberNotNull(a) {
                if (a === 0) {
                    return "-"
                }
                return a
            },
            setTab(a) {
                this.activeTab = a;
            },
            parseBakerData(bakerData) {
                var decoder = new TextDecoder();
                let bakerWithNoReporterText = "secondary key not specified";
                var baker = {
                    "bakerName": bakerData.value.data.bakerName,
                    "openForDelegation": bakerData.value.data.openForDelegation,
                    "bakerAccount": bakerData.key,
                    "reporterAccount": bakerData.value.reporterAccount,
                    "bakerOffchainRegistryUrl": bakerData.value.data.bakerOffchainRegistryUrl,
                    "bakerRegistryLastUpdated": bakerData.value.last_update
                }

                baker.paymentModel = {
                    "split": bakerData.value.data.split / 10000,
                    "bakerPaysFromAccounts": bakerData.value.data.bakerPaysFromAccounts,
                    "minDelegation": bakerData.value.data.minDelegation / 10000,
                    "subtractPayoutsLessThanMin": bakerData.value.data.subtractPayoutsLessThanMin,
                    "payoutDelay": bakerData.value.data.payoutDelay * 1, //convert the json string to an int
                    "payoutFrequency": bakerData.value.data.payoutFrequency * 1, //convert the json string to an int
                    "minPayout": bakerData.value.data.minPayout / 10000,
                    "bakerChargesTransactionFee": bakerData.value.data.bakerChargesTransactionFee,
                    "paymentConfigMask": bakerData.value.data.paymentConfigMask,
                    "overDelegationThreshold": bakerData.value.data.overDelegationThreshold,
                    "subtractRewardsFromUninvitedDelegation": bakerData.value.data.subtractRewardsFromUninvitedDelegation
                }
                baker.bakerName = decoder.decode(this.hexToArray(baker.bakerName));
                if (baker.bakerOffchainRegistryUrl != '') {
                    baker.bakerOffchainRegistryUrl = decoder.decode(this.hexToArray(baker.bakerOffchainRegistryUrl));
                }


                if (baker.reporterAccount == null) {
                    baker.reporterAccount = bakerWithNoReporterText;
                    baker.reporterAccountFromStorageWasEmpty = true; //todo: only needed because combining the contract calls to "updateData" and "updateReporter", in which case when modify the reporter model need to differentiate if its the first time reporter added
                } else {
                    baker.reporterAccountFromStorageWasEmpty = false;
                    baker.reporterAccountFromStorage = baker.reporterAccount;
                }

                baker.paymentModel.paymentConfig = this.genPaymentConfigStruct(baker.paymentModel.paymentConfigMask); // baking bad compatible struct;
                return baker;
            },
            getAllRegistryBakers(indexerProvider, bigMapId) {
                var self = this
                return new Promise(function(resolve, reject) {
                    fetch(indexerProvider + '/explorer/bigmap/' + bigMapId + '/values?limit=100').then(function(res){
                        if (!res.ok) {
                            throw new Error("HTTP error, status = " + res.status);
                        }
                        res.json().then(function(data) {
                            fetch(indexerProvider + '/explorer/bigmap/' + bigMapId + '/values?limit=100&offset=100').then(function(res){
                                if (!res.ok) {
                                    throw new Error("HTTP error, status = " + res.status);
                                }
                                res.json().then(function(offsetdata) {
                                    // reportersMap = new Map();

                                    var bakersList = [];
                                    var count = -1;

                                    var combinedData = data.concat(offsetdata);
                                    combinedData.forEach(function(bakerData) {
                                        count += 1;
                                        var baker = self.parseBakerData(bakerData);
                                        bakersList.push(baker);
                                    });
                                    resolve(bakersList);

                                }).catch(function(e){
                                    reject(e);
                                });
                            }).catch(function(e){
                                reject(e);
                            });

                        }).catch(function(e){
                            reject(e);
                        });
                    }).catch(function(e){
                        reject(e);
                    });

                });

            },
            bbcheck(){
                this.showbb = true
                if (this.show[0]) {
                    this.showbb = false
                }
                this.updateData()
            },
            hexToArray (hex) {
                return new Uint8Array(hex.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));
            },
            genPaymentConfigStruct(paymentConfigMask) {

                return {
                    payForOwnBlocks: (paymentConfigMask & 1) > 0,
                    payForEndorsements: (paymentConfigMask & 2) > 0,
                    payGainedFees: (paymentConfigMask & 4) > 0,
                    payForAccusationGains: (paymentConfigMask & 8) > 0,
                    subtractLostDepositsWhenAccused: (paymentConfigMask & 16) > 0,
                    subtractLostRewardsWhenAccused: (paymentConfigMask & 32) > 0,
                    subtractLostFeesWhenAccused: (paymentConfigMask & 64) > 0,
                    payForRevelation: (paymentConfigMask & 128) > 0,
                    subtractLostRewardsWhenMissRevelation: (paymentConfigMask & 256) > 0,
                    subtractLostFeesWhenMissRevelation: (paymentConfigMask & 512) > 0,
                    compensateMissedBlocks: !((paymentConfigMask & 1024) > 0),
                    payForStolenBlocks: (paymentConfigMask & 2048) > 0,
                    compensateMissedEndorsements: !((paymentConfigMask & 4096) > 0),
                    compensateLowPriorityEndorsementLoss: !((paymentConfigMask & 8192)) > 0,
                };
            },
            shuffle(a) {
                var j, x, i;
                for (i = a.length - 1; i > 0; i--) {
                    j = Math.floor(Math.random() * (i + 1));
                    x = a[i];
                    a[i] = a[j];
                    a[j] = x;
                }
                return a;
            },
            updateBakerData(baker){
                var chainData = {}
                this.contractData.forEach(function(v){
                    if (v.bakerAccount == baker) {
                        chainData = v
                    }
                })
                var data = {}
                var self = this
                if (chainData.bakerOffchainRegistryUrl.length >= 5) {
                    window.fetch(chainData.bakerOffchainRegistryUrl).then(function(response) {
                        return response.json();
                    }).then(function(datacustom) {
                        console.log("CUSTOM", datacustom)
                        data = datacustom
                        for (var i = 0; i < self.bakers.length; i++) {
                            if (self.bakers[i].address == baker) {
                                self.bakers[i].logo = data.branding.logo256
                                self.bakers[i].website = data.website
                                break
                            }
                        }
                    }).catch(function() {
                        console.log("Booo");
                    });
                } else {
                    var data = defaultData[baker]
                }
                for (var i = 0; i < this.bakers.length; i++) {
                    if (this.bakers[i].address == baker) {
                        this.bakers[i].logo = data.branding.logo256
                        this.bakers[i].website = data.website
                        break
                    }
                }

            },
            updateData(){
                var self = this
                self.bakers = []
                self.fields = []
                this.fieldsstd.forEach(function (a){
                    self.fields.push(a)
                })
                if (this.showbb) {
                    this.fieldsBB.forEach(function (a){
                        self.fields.push(a)
                    })
                }
                self.contractData.forEach(function (v){
                    var stakingBalance = 0
                    var stakingCapacity = 0
                    self.bakingBadData.forEach(function (x) {
                        if (v.bakerAccount == x.address){
                            stakingBalance = self.getNumberNotNull(Math.floor(x.stakingBalance))
                            stakingCapacity = self.getNumberNotNull(Math.floor(x.stakingCapacity))
                        }
                    })
                    var n = {
                        name: v.bakerName,
                        open_for_degelation: v.openForDelegation ? "Yes" : "No",
                        split: v.paymentModel.split,
                        address: v.bakerAccount,
                        website: v.bakerOffchainRegistryUrl,
                        min_delegation: self.getNumberNotNull(v.paymentModel.minDelegation),
                        minPayout: self.getNumberNotNull(v.paymentModel.minPayout),
                    }
                    console.log(self.showbb)
                    if (self.showbb) {
                        n["BB_staking_balance"] = stakingBalance
                        n["BB_staking_capacity"]= stakingCapacity
                        n["BB_staking_free"] =  stakingCapacity - stakingBalance
                    }
                    self.bakers.push(n)
                })

                self.$refs.table.refresh()

            },
            randomColor(brightness){
                function randomChannel(brightness){
                    var r = 255-brightness;
                    var n = 0|((Math.random() * r) + brightness);
                    var s = n.toString(16);
                    return (s.length==1) ? '0'+s : s;
                }
                return '#' + randomChannel(brightness) + randomChannel(brightness) + randomChannel(brightness);
            }


        },
        mounted(){

            var address = this.$route.params.address
            this.address = address


            var self1 = this
            window.fetch("https://api.baking-bad.org/v2/bakers").then(function(response) {
                return response.json();
            }).then(function(data) {
                self1.bakingBadData = self1.shuffle(data);
                var self = self1
                var dataP = self.getAllRegistryBakers("https://api.staging.tzstats.com",17)
                dataP.then(function (value) {
                    value.forEach(function(x){
                        if (x.bakerAccount == address) {
                            console.log(x)
                            console.log("cors",x.bakerOffchainRegistryUrl)
                            self1.contract = x
                            var self2 = self1
                            if (true){
                                console.log("cors")
                                window.fetch("https://static.happytezos.com/baker-registry.json?test=1").then(function(response) {
                                    return response.json();
                                }).then(function(data) {
                                    self2.offchain = data
                                }).catch(function(e){
                                    console.log("error getting offchain data")
                                    console.log(e)
                                })
                            }
                        }
                    })
                }).catch(function() {
                    console.log("Booo");
                });
            })


        },
        components: {
            VueJsonPretty
        },
        data(){
            return {
                contract: false,
                offchain: false,
                address: "loading",
                show: [],
            }
        }
    }
</script>


<style>

    .contentWrapper {
        margin: 50px;
        background-color: transparent;
        opacity: 0.85;
    }

    .tableopts {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        opacity: 0.5;
        padding: 3px;
        padding-bottom: 0px;
        margin: 15px;
        margin-left: 80px;
        margin-right: 80px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
    }
    #header {
        -webkit-box-shadow: 1px 2px 9px -4px rgba(0,0,0,1);
        -moz-box-shadow: 1px 2px 9px -4px rgba(0,0,0,1);
        box-shadow: 1px 2px 9px -4px rgba(0,0,0,1);
        height: 200px;
        color: white;
    }

    #header a:link {
        color: whitesmoke;
    }

    /* visited link */
    #header a:visited {
        color: whitesmoke;
    }

    /* mouse over link */
    #header a:hover {
        color: whitesmoke;
    }

    /* selected link */
    #header a:active {
        color: whitesmoke;
    }

    p {
        margin-top: 15px;
    }
    ul {
        list-style-type: none;
    }

    ul li {
        opacity: 0.7;
        font-size: 1.5em;
        margin-top: 10px;
    }

    ul li:hover {
        opacity: 0.85;
        cursor: pointer;
    }


    #header {
        padding: 50px;
        padding-top:25px;
    }

    #canvas {
        position: absolute;
        width: 100%;
        height: 200px;
    }

</style>
