<template>
  <div class="contentWrapper">
      <div class="tableopts">
          <div>
              <b-form>
                  <b-form-group id="input-group-4">
                      <b-form-checkbox-group v-model="show" id="checkboxes-4">
                          <b-form-checkbox v-on:change="bbcheck" value="bb">Show additioanl info from Baking Bad</b-form-checkbox>
                      </b-form-checkbox-group>
                  </b-form-group>
              </b-form>
          </div>
      </div>
      <div class="row" style="margin: 40px; margin-bottom: 250px;">
          <b-table ref="table" striped hover :items="bakers" :fields="fields">

              <template slot="address" slot-scope="data">
                  <a :href="'#/' + data.item.address">{{data.item.address.substr(0,16)}}...</a>
              </template>

              <template slot="website" slot-scope="data">
                  <a  v-if="data.item.website !== ''" :href="data.item.website">Link</a>
                  <p v-if="data.item.website == ''">Not Set</p>
              </template>


          </b-table>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src

/* eslint-disable */

import defaultData from "../data/offchain_default"

export default {


    name: 'home',
  data(){
    return {
      activeTab : "tplus"
    }
  },
  methods: {
        getNumberNotNull(a) {
            if (a === 0) {
                return "-"
            }
            return a
        },
    setTab(a) {
        this.activeTab = a;
    },
      parseBakerData(bakerData) {
          var decoder = new TextDecoder();
          let bakerWithNoReporterText = "secondary key not specified";
          var baker = {
              "bakerName": bakerData.value.data.bakerName,
              "openForDelegation": bakerData.value.data.openForDelegation,
              "bakerAccount": bakerData.key,
              "reporterAccount": bakerData.value.reporterAccount,
              "bakerOffchainRegistryUrl": bakerData.value.data.bakerOffchainRegistryUrl,
              "bakerRegistryLastUpdated": bakerData.value.last_update
          }
          baker.paymentModel = {
              "split": bakerData.value.data.split / 10000,
              "bakerPaysFromAccounts": bakerData.value.data.bakerPaysFromAccounts,
              "minDelegation": bakerData.value.data.minDelegation / 10000,
              "subtractPayoutsLessThanMin": bakerData.value.data.subtractPayoutsLessThanMin,
              "payoutDelay": bakerData.value.data.payoutDelay * 1, //convert the json string to an int
              "payoutFrequency": bakerData.value.data.payoutFrequency * 1, //convert the json string to an int
              "minPayout": bakerData.value.data.minPayout / 10000,
              "bakerChargesTransactionFee": bakerData.value.data.bakerChargesTransactionFee,
              "paymentConfigMask": bakerData.value.data.paymentConfigMask,
              "overDelegationThreshold": bakerData.value.data.overDelegationThreshold,
              "subtractRewardsFromUninvitedDelegation": bakerData.value.data.subtractRewardsFromUninvitedDelegation
          }
          baker.bakerName = decoder.decode(this.hexToArray(baker.bakerName));
          if (baker.bakerOffchainRegistryUrl != '') {
              baker.bakerOffchainRegistryUrl = decoder.decode(this.hexToArray(baker.bakerOffchainRegistryUrl));
          }


          if (baker.reporterAccount == null) {
              baker.reporterAccount = bakerWithNoReporterText;
              baker.reporterAccountFromStorageWasEmpty = true; //todo: only needed because combining the contract calls to "updateData" and "updateReporter", in which case when modify the reporter model need to differentiate if its the first time reporter added
          } else {
              baker.reporterAccountFromStorageWasEmpty = false;
              baker.reporterAccountFromStorage = baker.reporterAccount;
          }

          baker.paymentModel.paymentConfig = this.genPaymentConfigStruct(baker.paymentModel.paymentConfigMask); // baking bad compatible struct;
          return baker;
      },
      parseContractConfigData (data) {
          return {
              'signup_fee': data.value.signup_fee,
              'update_fee': data.value.update_fee,
              'bigMapId': data.value['17@big_map'], //17 bigmapID on main, 538 on babylonnet -- this syntax needed when property is not annotated in contract
              'owner': data.value.owner
          };
      },
      getAllRegistryBakers(indexerProvider, bigMapId) {
        var self = this
          return new Promise(function(resolve, reject) {
              fetch(indexerProvider + '/explorer/bigmap/' + bigMapId + '/values?limit=100').then(function(res){
                  if (!res.ok) {
                      throw new Error("HTTP error, status = " + res.status);
                  }
                  res.json().then(function(data) {
                      fetch(indexerProvider + '/explorer/bigmap/' + bigMapId + '/values?limit=100&offset=100').then(function(res){
                          if (!res.ok) {
                              throw new Error("HTTP error, status = " + res.status);
                          }
                          res.json().then(function(offsetdata) {
                              // reportersMap = new Map();

                              var bakersList = [];
                              var count = -1;

                              var combinedData = data.concat(offsetdata);
                              combinedData.forEach(function(bakerData) {
                                  count += 1;
                                  var baker = self.parseBakerData(bakerData);
                                  bakersList.push(baker);
                              });
                              resolve(bakersList);

                          }).catch(function(e){
                              reject(e);
                          });
                      }).catch(function(e){
                          reject(e);
                      });

                  }).catch(function(e){
                      reject(e);
                  });
              }).catch(function(e){
                  reject(e);
              });

          });

      },
      bbcheck(){
            this.showbb = true
          if (this.show[0]) {
              this.showbb = false
          }
          this.updateData()
      },
      hexToArray (hex) {
          return new Uint8Array(hex.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));
      },
      genPaymentConfigStruct(paymentConfigMask) {

          return {
              payForOwnBlocks: (paymentConfigMask & 1) > 0,
              payForEndorsements: (paymentConfigMask & 2) > 0,
              payGainedFees: (paymentConfigMask & 4) > 0,
              payForAccusationGains: (paymentConfigMask & 8) > 0,
              subtractLostDepositsWhenAccused: (paymentConfigMask & 16) > 0,
              subtractLostRewardsWhenAccused: (paymentConfigMask & 32) > 0,
              subtractLostFeesWhenAccused: (paymentConfigMask & 64) > 0,
              payForRevelation: (paymentConfigMask & 128) > 0,
              subtractLostRewardsWhenMissRevelation: (paymentConfigMask & 256) > 0,
              subtractLostFeesWhenMissRevelation: (paymentConfigMask & 512) > 0,
              compensateMissedBlocks: !((paymentConfigMask & 1024) > 0),
              payForStolenBlocks: (paymentConfigMask & 2048) > 0,
              compensateMissedEndorsements: !((paymentConfigMask & 4096) > 0),
              compensateLowPriorityEndorsementLoss: !((paymentConfigMask & 8192)) > 0,
          };
      },
      shuffle(a) {
          var j, x, i;
          for (i = a.length - 1; i > 0; i--) {
              j = Math.floor(Math.random() * (i + 1));
              x = a[i];
              a[i] = a[j];
              a[j] = x;
          }
          return a;
      },
      updateBakerData(baker){
        var chainData = {}
        this.contractData.forEach(function(v){
            if (v.bakerAccount == baker) {
                chainData = v
            }
        })
          var data = {}
          var self = this
          if (chainData.bakerOffchainRegistryUrl.length >= 5) {
              window.fetch(chainData.bakerOffchainRegistryUrl).then(function(response) {
                  return response.json();
              }).then(function(datacustom) {
                  data = datacustom
                  for (var i = 0; i < self.bakers.length; i++) {
                      if (self.bakers[i].address == baker) {
                          self.bakers[i].logo = data.branding.logo256
                          self.bakers[i].website = data.website
                          break
                      }
                  }
                  }).catch(function(e) {
                      console.log(e);
                  });
          } else {
              var data = defaultData[baker]
          }
          for (var i = 0; i < this.bakers.length; i++) {
              if (this.bakers[i].address == baker) {
                  this.bakers[i].logo = data.branding.logo256
                  this.bakers[i].website = data.website
                  break
              }
          }

      },
      updateData(){
            var self = this
            self.bakers = []
            self.fields = []
             this.fieldsstd.forEach(function (a){
                 self.fields.push(a)
            })
            if (this.showbb) {
                this.fieldsBB.forEach(function (a){
                    self.fields.push(a)
                })
            }
          self.contractData.forEach(function (v){
              var stakingBalance = 0
              var stakingCapacity = 0
              self.bakingBadData.forEach(function (x) {
                  if (v.bakerAccount == x.address){
                      stakingBalance = self.getNumberNotNull(Math.floor(x.stakingBalance))
                      stakingCapacity = self.getNumberNotNull(Math.floor(x.stakingCapacity))
                  }
              })
              var n = {
                  name: v.bakerName,
                  open_for_degelation: v.openForDelegation ? "Yes" : "No",
                  split: v.paymentModel.split,
                  address: v.bakerAccount,
                  website: v.bakerOffchainRegistryUrl,
                  min_delegation: self.getNumberNotNull(v.paymentModel.minDelegation),
                  minPayout: self.getNumberNotNull(v.paymentModel.minPayout),
              }
              if (self.showbb) {
                  n["BB_staking_balance"] = stakingBalance
                  n["BB_staking_capacity"]= stakingCapacity
                  n["BB_staking_free"] =  stakingCapacity - stakingBalance
              }
              self.bakers.push(n)
          })

          self.$refs.table.refresh()

      },


  },
  mounted(){
      var self1 = this
      window.fetch("https://api.baking-bad.org/v2/bakers").then(function(response) {
          return response.json();
      }).then(function(data) {
          self1.bakingBadData = self1.shuffle(data);
            var self = self1
          var dataP = self.getAllRegistryBakers("https://api.staging.tzstats.com",17)
          dataP.then(function (value) {
              self1.contractData = self1.shuffle(value)
              self1.updateData()
      }).catch(function() {
          console.log("Booo");
      });
      })

  },
  components: {

  },
    data(){
        return {
            show: [],
            showbb: false,
            fieldsstd: [
                {
                    key: 'name',
                    sortable: true,
                },
                {
                    key: 'address',
                    sortable: true
                },
                {
                    key: 'split',
                    sortable: true
                },
                {
                    key: 'website',
                    label: 'off-chain JSON'
                },
                {
                    key: 'open_for_degelation',
                    sortable: true
                },
                {
                    key: 'min_delegation',
                    sortable: true
                },
                {key: 'minPayout', sortable: true},
                ],
            fieldsBB: [
                {key: 'BB_staking_balance', sortable: true},
                {key: 'BB_staking_capacity', sortable: true},
                {key: 'BB_staking_free', sortable: true},
            ],
            fields: [],
            bakingBadData: [],
            contractData: [],
            bakers: [
            ]
        }
    }
}
</script>


<style>

  .contentWrapper {
    margin: 0px;
    background-color: transparent;
    opacity: 0.85;
  }

  .tableopts {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      opacity: 0.5;
      padding: 3px;
      padding-bottom: 0px;
      margin: 15px;
      margin-left: 80px;
      margin-right: 80px;
      border-radius: 10px;
      align-items: center;
      text-align: center;
  }
  #header {
      -webkit-box-shadow: 1px 2px 9px -4px rgba(0,0,0,1);
      -moz-box-shadow: 1px 2px 9px -4px rgba(0,0,0,1);
      box-shadow: 1px 2px 9px -4px rgba(0,0,0,1);
      height: 200px;
      color: white;
  }

  #header a:link {
      color: whitesmoke;
  }

  /* visited link */
  #header a:visited {
      color: whitesmoke;
  }

  /* mouse over link */
  #header a:hover {
      color: whitesmoke;
  }

  /* selected link */
  #header a:active {
      color: whitesmoke;
  }

  p {
    margin-top: 15px;
  }
  ul {
    list-style-type: none;
  }

  ul li {
    opacity: 0.7;
    font-size: 1.5em;
    margin-top: 10px;
  }

  ul li:hover {
    opacity: 0.85;
    cursor: pointer;
  }


     #header {
         padding: 50px;
         padding-top:25px;
     }

    #canvas {
        position: absolute;
        width: 100%;
        height: 200px;
    }

</style>
