<template>
<div>
    <canvas id="canvas"></canvas>
    <div class="row" id="header">
        <div class="col-lg-4">
            <h1>Baker Registry Explorer</h1>
        </div>
        <div class="col-lg-8" style="color: rgba(255,255,255,0.8)">
            <p>Data shown here ( unless other sources are given ) is taken from this Contract: <a href="https://better-call.dev/main/KT1ChNsEFxwyCbJyWGSL3KdjeXE28AY1Kaog/operations">KT1ChNsEFxwyCbJyWGSL3KdjeXE28AY1Kaog</a>
                <br>
                This site does not curate data or check its correctness, it merely displays it.
                <br>
                If you are a baker and want to change information, pls see <a href="https://forum.tezosagora.org/t/bakers-registry-discussion/1238/55">this post on agora.</a>
                <br>
                This is NOT a ranking, all entries in random order.
                <br>
                <b>Do your own research.</b>
            </p>
        </div>
    </div>
    <router-view/>
    <div class="footer" style="color: gray">
        <p>This site is hosted by: <a href="https://tulip.tools"><img height="25px;" style="display: inline-block; margin-bottom: 10px; margin-left: 10px;" src="./assets/tulip.png" alt=""> </a>
        and is powered by the API from <a href="https://tzstats.com/docs/api/index.html"><img height="40px;" style="display: inline-block; margin-bottom: 10px; margin-left: 10px;" src="./assets/tzstats.png" alt=""></a></p>
    </div>
</div>
</template>

<script>


    export default {

        methods: {
            randomColor(brightness){
                function randomChannel(brightness){
                    var r = 255-brightness;
                    var n = 0|((Math.random() * r) + brightness);
                    var s = n.toString(16);
                    return (s.length==1) ? '0'+s : s;
                }
                return '#' + randomChannel(brightness) + randomChannel(brightness) + randomChannel(brightness);
            }
        },
        mounted(){

            var c = document.getElementById("canvas");
            c.width = window.innerWidth;
            c.height = 200;
            var ctx = c.getContext("2d");


            var grd = ctx.createLinearGradient(0, 0, window.innerWidth, 200);
            grd.addColorStop(0, "rgba(40,40,40,1)");
            var endcolor = this.randomColor(120)
            grd.addColorStop(1, endcolor);
            ctx.fillStyle = grd;
            ctx.fillRect(0, 0, window.innerWidth, 200);

            var i = 1;
            for (i=1;i<=50;i++){
                var startx = Math.floor(Math.random() * window.innerWidth + 50) - 25
                var starty = Math.floor(Math.random() * 250) - 25
                startx = startx - ( startx % 10)
                starty = starty - ( starty % 10)
                ctx.fillStyle = "rgba(0,0,0,0.2)";
                ctx.fillRect (startx, starty,100,100);
            }

            var i = 1;
            for (i=1;i<=60;i++){
                var startx = Math.floor(Math.random() * window.innerWidth + 50) - 25
                var starty = Math.floor(Math.random() * 250) - 25
                startx = startx - ( startx % 10)
                starty = starty - ( starty % 10)
                ctx.fillStyle = "rgba(0,0,0,0.1)";
                ctx.fillRect (startx, starty,50,50);
            }

            var drawmedium = function(i,ctx){
                var startx = Math.floor(Math.random() * window.innerWidth + 50) - 25
                var starty = Math.floor(Math.random() * 250) - 25
                startx = startx - ( startx % 10)
                starty = starty - ( starty % 10)
                ctx.fillStyle = "rgba(255,255,255,0.05)";
                ctx.fillRect (startx, starty,25,25);
                i++
                if (i <= 90) {
                    window.setTimeout(function(){
                        drawmedium(i,ctx)
                    },15)
                }
            }

            var drawsmall = function(i,ctx){
                var startx = Math.floor(Math.random() * window.innerWidth + 50) - 25
                var starty = Math.floor(Math.random() * 250) - 25
                startx = startx - ( startx % 5)
                starty = starty - ( starty % 5)
                ctx.fillStyle = "rgba(255,255,255,0.05)";
                ctx.fillRect (startx, starty,5,5);
                i++
                if (i <= 200) {
                    window.setTimeout(function () {
                        drawsmall(i,ctx)
                    },10)
                }
            }

            i = 0
            drawsmall(i,ctx)
            var j = 0
            drawmedium(j,ctx)
        }
    }
</script>
<style>


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #671400;
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}


</style>
